/* Table */
h1 {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    text-align: center; 
}
table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
  }
thead {
    height: 2rem;
    text-align: left;
    color: #1db954;
    background-color: #d3d3d3;
}
.main-table-images {
    height: 100px;
    width: 100px;
}
th, td {
    padding: 0.5em;
    border-bottom: 1px, solid, #d3d3d3;
}
body tbody:nth-child(2){
    color:  #eee;
}